@using SimpLN.Enums
@using SimpLN.Frontend.Layout
@inherits SimpLN.Frontend.Layout.SimpLn

<div>
	<table class="table table-striped">
		<thead>
		<tr>
			<th style="font-size:12px; padding-y: 0; padding-x: 2px;">Date</th>
			<th style="font-size:12px; padding-y: 0; padding-x: 2px;">Amnt</th>
			<th style="font-size:12px; padding-y: 0; padding-x: 2px;">Fee</th>
			<th style="font-size:12px; padding-y: 0; padding-x: 2px; width: 100px;">Msg</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		@if (Transactions != null && Transactions.Any())
		{
			@foreach (var transaction in Transactions.OrderByDescending(x => x.TransactionDate))
			{
				<tr>
						<td style="font-size:10px; font-weight: 100; padding-y: 0; padding-x: 2px;">@transaction.TransactionDate.ToString("yyyy-MM-dd")</td>
						<td style="font-size:10px; font-weight: 100; padding-y: 0; padding-x: 2px;">@(transaction.Amount - @transaction.Fee)</td>
						<td style="font-size:10px; font-weight: 100; padding-y: 0; padding-x: 2px;">@transaction.Fee</td>
						<td style="font-size:10px; font-weight: 100; padding-y: 0; padding-x: 2px; width: 100px;">@transaction.Message</td>
						<td style="font-size:10px; font-weight: 100; padding-y: 0; padding-x: 2px;"><i class="bi @GetCssIcon(transaction.TransactionType)"></i></td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="4" class="text-center">No transactions found.</td>
			</tr>
		}
		</tbody>
	</table>
</div>

@code {
	[Parameter]
	public List<BottomMenu.Transaction>? Transactions { get; set; }

	private string GetCssIcon(TransactionType type)
	{
		return type == TransactionType.Send ? "bi-box-arrow-up-right text-danger" : "bi-box-arrow-in-down-left text-success";
	}
}